<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h4 class="text-themecolor">Contact Details</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <img
        class="card-img"
        src="https://images.shiksha.com/mediadata/images/1553757803phpUJkYsj.jpeg"
        height="456"
        alt="Card image"
      />
      <div
        class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center"
        style="border-radius: 15px"
      >
        <div class="align-self-center">
          <img
            src="https://www.vishwakarmainternational.com/images/logo/VIIT-logo.png"
            class="img-circle"
            width="100"
          />
          <br />
          <br />
          <h4 class="card-title">Placement & Training Cell</h4>
          <h6 class="card-subtitle">
            B.R.A.C.T Vishwakarma Institute of Information Technology
            <br />Kondwa-Budruk, Pune- 411048 <br />Maharastra, India
          </h6>
          
          <small class="text-muted p-t-30 db">Phone</small>
          <h6>+91-141-2529065</h6>
          <small class="text-muted p-t-30 db">Placements Relate Queries</small>
          <h6>ptcell@viit.ac.in</h6>
          <small class="text-muted p-t-30 db"
            >Placements Portal Relate Queries</small
          >
          <h6>placementportal@viit.ac.in</h6>
        </div>
      </div>
    </div>
  </div>
</div>
